.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#heading {
    height: 50px;
    text-align: center;
}

.row {
    height: 100%;
    width: 100%;
}

#title {
    background: #c0c0c0;
    border: solid 1px black;
    border-radius: 10px;
    opacity: .95;
    padding-top: 10px;
}

body {
    background-image: url("../images/kO5R1kx.jpg");
    font-family: Arial, Helvetica, sans-serif;
}

body span {
    background: white;
    border: solid black 1px;
    text-align: center;
}

#characters {
    height: 150px;
}

#characters {
    text-align: center;
}

#char-list {
    height: 100%;
}

#char-list button {
    margin-left: 10px;
    margin-top: 5px;
}

#gifs {
    height: 500px;
    overflow: auto;
}

#characters .btn {
    border: solid 1px black;
}

#gifs span {
    margin-top: 10px;
    margin-left: 10px;
    float:left;
    opacity: 1.0;
    height: 250px;
    width: 250px;
}

#gifs img {
    border: 1px solid black;
    height: 80%;
    width: 85%;
}

img:hover {
    cursor: pointer;
}

#add-char {
    margin-top: 10px;
    text-align: center;
    background-color: #c0c0c0;
    border: solid black 1px;
    border-radius: 10px;
    padding-bottom: 5px;
}

#search-gif {
    width: 85%;
}

form {
    margin-left: 5px;
    margin-top: 5px;
}

input {
    border: solid black 1px;
}

#add-btn {
    position: absolute;
    bottom: 5px;
    right: 5px;
    border: solid black 1px;

}

#footing {
    border: solid black 1px;
    height: 50px;
}

