.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#heading {
    height: 50px;
    text-align: center;
}

.row {
    height: 100%;
    width: 100%;
}


#characters {
    height: 150px;
}

#characters {
    text-align: center;
}

#char-list {
    height: 100%;
}

#char-list button {
    margin-left: 10px;
    margin-top: 5px;
}

#gifs {
    height: 500px;
    overflow: auto;
}

#gifs span {
    margin-top: 10px;
    margin-left: 10px;
    float:left;
}

img:hover {
    cursor: pointer;
}

#add-char {
    height: 500px;
}

form {
    margin-left: 5px;
    margin-top: 5px;
}
#add-btn {
    margin-top: 5px;
}

#footing {
    border: solid black 1px;
    height: 50px;
}
